[core]
	excludesfile = ~/.gitignore_global
        hooksPath = ~/dotfiles/git/hooks
	editor = nvim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[user]
	name = kavis777
	email = wwrd0129@gmail.com
[commit]
        template = ~/dotfiles/git/.commit_template
[ghq]
	root = ~/projects
[alias]
	co = commit
	st = status
	br = branch
	rt = restore
	sw = switch
	re = reset
	me = merge
[merge]
	ff = false
[branch "master"]
	rebase = true
[pull]
	ff = only
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[push]
	default = current
